body{
    background-color: grey;
}
h1{
    text-align: center;
    border: solid;
    border-radius: 8px;
    color: white;
    background-color: black;
    margin: 5px;
    width: fit-content;
    border-color: black;

}
#words{
    border: solid;
    border-color: black;
    width: 600px;
    height: 400px;
    color: white;
    background-color:black;
    border-radius: 8px;
    margin: 0px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 10px;
}
.guess{
border: solid;
background-color:black;
border-radius: 8px;
margin: 5px;
color: white;
width: 600px;
border-color: black;
}
#timer {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 8px;
    width:fit-content;
    margin: 0px;
}
#score{
    font-weight:bolder;
    font-size: xx-large;
    word-spacing: 20px;
    padding-left: 10px;
    
}
.container{
    font-size: xx-large;
    font-weight: bolder;
}
